:local(.styles) {

  padding: 50px 0;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  .tabs {
    padding-top: 8px;

  }

  .tabView {
    height: 100vh;    
  }

  .staples {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-grow: 2;
  }

  .totals {
    flex-grow: 3;
  }
  
}