:local(.styles) {
  position: relative;
  padding: 10 10 10 50;
  
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  text-align: center;

  h2.heading {
      margin-bottom: 30px;
      height: 70;
    }

  .card {
      margin: 5px 5px 5px 5px;  
      height: 370px;
      background-color: white;  

      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column; 
    }

  .actions {
    margin: 20 20 20 20;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; 
    justify-content: space-between;
  }

  img.cardimage {
    height: 225px !important;
    width: auto;
  }  
}
