:local(.styles) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;

  .tabs {
    flex: 0 0 100%;
    border-style: solid;
  }

  padding: 50px 0;
  
}