:local(.styles) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .tabs {
    flex: 0 0 100%;
    border-style: solid;
  }

  padding: 50px 0;
  
}