:local(.styles) {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;  
  text-align:center;   
  padding-top: 20px;


  .recipes {    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .card {
    margin: 5px 5px 5px 5px;  
    border-radius: 50px;
    height: 350px;
    background-color: white;  
    border: 1px solid #1A237E !important; 
    box-shadow: 10px 10px 5px grey;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;      
    &:hover {
      background-color: #CFD8DC;      
    }
  }

  .card-appear {
    opacity: 0.01;
  }

  .card-appear.card-appear-active {
    opacity: 1;
    transition: opacity .8s ease-in;
  }

  .actions {
    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; 
    justify-content: space-around;
    margin-top: auto;
  }

  img.cardimage {
    height: 215px !important;
    width: auto;
  }  

  button.ButtonCircle {
    
  }
}
