:local(.styles) {
  position: relative;
  height: 100vh;

  h2.heading {
    margin-bottom: 30px;
    height: 70;
  }

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;  
  text-align:center;   

  .filter {
    border-right: 1px solid #1A237E;
    margin: 40 40 40 40;
    padding: 40 40 40 40;
    display: -webkit-flex;

    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .recipes {    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .card {
    margin: 5px 5px 5px 5px;  
    height: 370px;
    background-color: white;  
    border: 1px solid #1A237E !important; 
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;      
    &:hover {
      background-color: #CFD8DC;      
    }
  }

  .card-appear {
    opacity: 0.01;
  }

  .card-appear.card-appear-active {
    opacity: 1;
    transition: opacity .8s ease-in;
  }

  .actions {
    margin: 20 20 20 20;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; 
    justify-content: space-around;
  }

  img.cardimage {
    height: 225px !important;
    width: auto;
  }  
}
