:local(.styles) {
  
  height: 100vh;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 50px 0;
  align-self: center;

  .tool {
    text-align: center;
    margin: 30px 0;

    img {
      width: 80%;
    }
  }

  .card {
    margin: 5px 5px 5px 5px;  
    height: 300px;
    background-color: white;
    
    & input {
      display: none
    }
    
    &:hover input {
      display: block;      
    }

    & select {
      display: none
    }
    
    &:hover select {
      display: block;
    }
  }
}
