:local(.styles) {
  
  height: 100vh;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 50px 0;  

  .card {
    margin: 5px 5px 5px 5px;  
    height: 300px;
    border: 1px solid #1A237E !important; 
    background-color: white;      
    display: -webkit-flex;
    display: flex;
    box-shadow: 10px 10px 5px grey;
    -webkit-flex-direction: column;
    flex-direction: column;
    &:hover {
      background-color: #CFD8DC;      
    }    
  }

  Table {
    max-height: 100;
  }

  .actions {    
    margin: auto 20 5 20;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; 
    justify-content: space-around;
  }
}
