:local(.styles) {

  
  display: flex;
  display: -webkit-flex;    
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  background-image: 
    linear-gradient(azure, beige);        
  background-color: beige;
  width: 350px;

  .table {
    background-color: beige;

  }
}
