/* global styles */

@import 'fonts/roboto';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;
}

:local(.styles) {  
  background-color: azure;
  background-image: 
    linear-gradient(azure, beige);

}
