:local(.styles) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; 

  .tabs {
    flex: 0 0 100%;   
    padding-top: 8px;
  }  

  padding: 50px 0;
  
  .tabView {
    flex: 0 0 100%;
    margin: 10px;
    height: 100vh;
    align-self: center;
  }
}