:local(.styles) {
  position: relative;

  padding: 50px 0;
  align-self: center;

  background-color: white;

  .actions {
    margin: auto 20 5 20;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; 
    justify-content: space-around;

  }
  
}
