:local(.styles) {  

  overflow: auto;

  border: 1px solid #1A237E;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;    
  flex: 0 0 70%;
  align-items: center;

  .progressBar {    
    padding: 20 20 20 20;
    margin: 20 20 20 20;    
    background-color: white;
    width: 60%;
    border: 1px solid #1A237E;
    box-shadow: 10px 10px 5px grey;
  }

  .table {
    border: 1px solid #1A237E;
    box-shadow: 10px 10px 5px grey;
    padding: 20 20 20 20;
    margin: 20 20 20 20;
    background-color: white;
    width: 60%;    
  }
  .percent {
    float: right;
  }  
}
