:local(.styles) {  

  overflow: auto;

  border: 1px solid #1A237E;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;    
  flex: 0 0 70%;
  align-items: center;

  .progressBar {
    border: 1px solid #00BCD4;  
    padding: 20 20 20 20;
    margin: 20 20 20 20;    
    background-color: white;
    width: 60%
  }

  .table {
    border: 1px solid #00BCD4;  
    padding: 20 20 20 20;
    margin: 20 20 20 20;
    background-color: white;
    width: 60%;    
  }
  .percent {
    float: right;
  }  
}
