:local(.styles) {
  position: relative;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  text-align: center;

  .searchColumn {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;  
    justify-content: flex-start;
  }
  
}
