:local(.styles) {
  position: relative;  
  border: 1px solid #00BCD4;  
  padding: 20 40 20 40;
  margin: 10 10 10 10;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  h3 {
    text-align:center;
  }

  .actions {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between
  }

  .card {
    padding: 20 20 20 20;
    background-color: white;
    border: 1px solid #1A237E !important; 
    text-align: center;   

  }  
}
